{% extends "tasks/base.html" %}

{% block content %}
<h1>Welcome to the To-Do App</h1>
<h3>Normal Tasks:</h3>
<ul>
    {% for task in normal_tasks %}
        <li>{{ task.title }} - Completed: {{ task.completed }}</li>
    {% empty %}
        <li>No normal tasks available.</li>
    {% endfor %}

</ul>

<h3>Continuous Tasks:</h3>
<ul>
    {% for task in continuous_tasks %}
        <li>{{ task.title }} - Work time: {{ task.work_time }}</li>
    {% empty %}
        <li>No continuous tasks available.</li>
    {% endfor %}
</ul>
{% endblock %}